html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 5px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Esta clase se añade dinámicamente con js */
.long-filename {
  overflow: hidden;
  text-overflow: scroll;
  white-space: nowrap;
  max-width: 200px; /* Ajusta el ancho máximo deseado */
  display: inline-block;
}


h2 {
  font-size: 24px;
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

h5 {
  font-size: 16px;
  margin-top: 15px;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.language-bash .language-plaintext {
  background-color: #f1f1f1;
  padding: 10px;
  overflow-x: auto;
  word-wrap: break-word;
}

.highlighter-rouge {
  color: #333;
}

.highlighter-rouge .c {
  color: #960050;
} /* Comment */
.highlighter-rouge .nv {
  color: #00736b;
} /* Name.Variable */
.highlighter-rouge .s2 {
  color: #df0000;
} /* String.Symbol */
.highlighter-rouge .nt {
  color: #009000;
} /* Name.Tag */
.highlighter-rouge .k {
  color: #0000ff;
} /* Keyword */
.highlighter-rouge .p {
  color: #555;
} /* Punctuation */
.highlighter-rouge .nb {
  color: #333;
} /* Name.Builtin */
.se {
  color: #333;
  font-weight: bold;
} /* String.Escape */

@media (orientation: portrait) {
  body {
    align-items: flex-start;
    font-size: 1.25rem;
  }
}

/*
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }
}
*/
